/* common shared style */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.btn-primary {
  border: 0;
  border-radius: 8px;
  background-color: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 43px;
  margin-top: 32px;
}

.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

/* header area style start */

header {
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 200px;
  /* padding: 200px; */
}

.banner-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 100px;
  width: 80vw;
  margin: 0 auto;
  padding-top: 20px;
}

.banner-content {
  /* width: 50%; */
  /* padding-right: 100px; */
  /* padding-bottom: 140px; */
}

.banner-title {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  padding-bottom: 32px;
}

.banner-image {
  /* width: 60%; */
  /* margin-right: 100px; */
  /* padding-right: 100px; */
}
.banner-img {
  /* height: 100vh; */
  /* width: 70%; */
}
/* header area style end */

/* main area style start */

main {
  /* width: 80vw;
  margin: auto; */
}

/* featured flowers section  */
.featured-flowers {
  /* width: 80vw; */
  margin: 0 150px;
}
.featured-flowers-description {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 48px;
  width: 50%;
  margin: auto;
}

.featured-box {
  width: 350px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  position: relative;
  margin-bottom: 32px;
}

.flowers {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.purple-tulip {
  background-color: rgba(167, 33, 98, 0.15);
}

.poppy {
  background-color: rgba(5, 151, 160, 0.15);
}

.yellow-tulip {
  background-color: rgba(71, 125, 17, 0.15);
}
.flower-description {
  text-align: center;
}

.flower-description a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
}

.flower-img {
  max-width: 100%;
  position: absolute;
  inset: 70px 0 0 0;
  margin: auto;
}

.yellow-tulip-img {
  inset: 26px 0 0 0;
}

/* support and delivery info style area */

.support-delivery-info-contianer {
}

.informations {
  height: 30vh;
  margin: 130px 125px;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 86px 120px;
}

.info-description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.icon {
  display: block;
  margin: 15px auto;
}

/* hot deal section style area*/

.hot-deal {
  background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal-container {
  width: 80vw;
  margin: auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  text-align: center;
}

.hot-deal-content-description {
  padding: 20px 80px;
}

/* .hot-deal-img {
  width: 320px;
} */

/* instagram area style */

.instagram {
  width: 80vw;
  margin: auto;
}

.insta-section-description {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.instagram-images-card {
  display: flex;
  gap: 20px;
}

.image-card img {
  width: 100%;
}

/* main area style end */
